* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 15px;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  display: flex;
  position: relative;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 232, 180);
  overflow: hidden;
}

.part1 {
  border-radius: 20px 0 0 20px;
  background-color: #fac60a;
  width: 60%;
  height: 100%;
}



.text-div {
  position: absolute;
  width: 400px;
  margin-left: 70px;
  top: 25%;
}

.normal-head {
  font-weight: 700;
  letter-spacing: 4px;
}

.poke-name {
  font-size: 130px;
}

.info-text {
  letter-spacing: .2px;
  margin-bottom: 30px;
}

.date {
  transform: translateY(-20%);
  display: flex;
  align-items: center;
  gap: 20px;
}

.dash-line {
  height: fit-content;
  border: 1px solid black;
  width: 40px;
}

.date-value {
  font-weight: 700;
}

#logo-img {
  width: 200px;

}

.ri-menu-fill {
  position: absolute;
  font-size: 50px;
  top: 30px;
  right: 50px;
}

.pokeball {
  position: relative;
  opacity: 0.2;
  width: 200px;
  bottom: -30px;
  left: -30px
}

.Pichachu-img {
  position: absolute;
  width: 700px;
  left: 50%;
  transform: translateX(-20%);
  filter: saturate(200%);
}

.scroll-elements {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

.circle {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fac60a;
  margin-bottom: 10px;
}

.black {
  background-color: #000;
}